<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DCW</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gaishu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shuju.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropzone.min.css}"/>
    <style type="text/css">
        .clearfix:after {
            content: '';
            clear: both;
            display: block;
        }

        a {
            text-decoration: none;
        }

        .text-left {
            text-align: left;
        }

        .field-name {
            height: 35px;
            line-height: 35px;
            font-size: larger;
            overflow: auto;
        }

        .field-desc {
            height: 25px;
            line-height: 25px;
            font-weight: lighter;
            font-size: x-small;
            overflow: hidden;
        }

        header {
            background-color: #393D49;
        }

        .msg {
            width: 60px;
            height: 35px;
            border-radius: 3px;
            background-color: #333745;
            position: absolute;
            top: 23px;
            right: 5px;
            display: none;
        }

        .msg p {
            width: 100%;
            line-height: 35px;
            text-align: center;
            color: #fff;
            border-radius: 5px;
            position: relative;
            top: 0;
            left: 0;
        }

        .msg .up-trangle {
            display: block;
            width: 0;
            height: 0;
            border: 8px solid #333745;
            transform: rotateZ(45deg);
            position: absolute;
            top: -4px;
            right: 15px;
        }

        .container {
            box-sizing: border-box;
            width: 960px;
            padding: 0 7px;
            margin: auto;
        }

        nav .container {
            margin: 10px auto;
            margin-bottom: 0;
        }

        .formEditorView {
            height: 600px;
            overflow: auto;
            text-align: center;
        }

        form .banner {
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }

        form .layui-form-item {
            width: 85%;
            margin: auto;
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }

        form .layui-input {
            border: 1px solid #5FB878;
        }

        .add-field .fied-item div {
            padding-left: 20px;
            text-align: left;
            height: 35px;
            line-height: 35px;
            overflow: hidden;
            color: #000000;
            transition: all 0.2s;
        }

        .add-field .fied-item div:hover {
            cursor: pointer;
            color: #009AFF !important;
        }

        .form-container {
            width: 90%;
            padding-bottom: 50px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
        }

        form .layui-form-item {
            border: none !important;
        }

        .add-field .layui-this {
            background-color: #009AFF !important;
            color: #fff !important;
        }

        form .new-line:hover {
            cursor: pointer;
        }

        .formEditorView .active-line {
            background-color: #F2FAFF;
            border: 1px dashed #1E9FFF;
            border-left: none;
            border-right: none;
            border-radius: 5px;
        }

        form .new-line {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            position: relative;
            top: 0;
            left: 0;
        }

        .fn-area {
            position: absolute;
            bottom: -10px;
            right: 100px;
            background-color: #fff;
            display: none;
        }

        .fn-area .ele-copy,
        .fn-area .ele-del {
            width: 30px;
            height: 30px;
            border-radius: 2px;
        }

        .fn-area .ele-copy:hover,
        .fn-area .ele-del:hover {
            background-color: #D84C29;
            cursor: pointer;
        }

        .formEditorView .active-line .fn-area {
            display: block;
        }

        .active-line .layui-form-item input,
        .active-line .layui-form-item textarea,
        .active-line .layui-form-item select {
            border-color: #9F9F9F;
        }

        .setting-row .pull-left {
            line-height: 30px !important;
        }

        .setting-row input {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
<header>
    <div class="container">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a th:href="@{/form/desktop}">桌面</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/user/userInfo}"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">个人中心</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a th:href="@{/logout}">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</header>
<nav>
    <div class="layui-tab container">
        <ul class="layui-tab-title">
            <!--概述编辑规则设置发布数据报表-->
            <li><a th:href="@{'/form/myform/'+${formDetail.form.id}}">概述</a></li>
            <li><a th:href="@{'/form/edit/'+${formDetail.form.id}}">编辑</a></li>
            <li class="layui-this">数据</li>
        </ul>
        <div class="layui-tab-content">
            <!--数据内容-->
            <div class="layui-tab-item layui-show">
                <div class="shuju">
                    <!--表格头部菜单-->
                    <div class="layui-row shu-menu layui-col-md12">
                        <div class="layui-col-md1">
                            <div class="grid-demo grid-demo-bg1" style="cursor: pointer;"><i class="layui-icon"
                                                                                             onclick="search()">&#x1002;</i>
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="grid-demo grid-demo-bg1">
                                </span><i class="layui-icon">&#xe654;</i>
                                <a href="javascript:add();">添加</a>
                                </span>
                                <span><i class="layui-icon">&#xe63c;</i><a href="javascript:importExcel();">从excel添加</a></span>
                                <span><i class="layui-icon">&#xe654;</i><a href="javascript:del();">删除</a></span>
                            </div>
                        </div>
                        <!--<div class="layui-col-md1">-->
                        <!--<div class="grid-demo grid-demo-bg1">-->
                        <!--<a href="#">发送短信&amp;邮件</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="layui-col-md2">
                            <div class="grid-demo grid-demo-bg1">
                                <input type="text" name="content" id="searchContent"/>
                                <button class="layui-btn layui-btn-mini" onclick="search()"><i class="layui-icon">
                                    &#xe615;</i></button>
                            </div>
                        </div>
                        <div class="layui-col-md1">
                            <div class="grid-demo grid-demo-bg1">
                                <i class="layui-icon" style="cursor: pointer" title="按提交日期筛选"
                                   onclick="showDatePicker()">&#xe60e;</i>
                                <!--<i class="layui-icon" title="查看数据变更记录">&#xe628;</i>-->
                                <i class="layui-icon" style="cursor: pointer" onclick="showCol()" title="显示或隐藏各列数据">&#xe647;</i>
                            </div>
                        </div>
                        <div class="layui-col-md1">
                            <div class="grid-demo grid-demo-bg1">
                                <select onchange="outport()">
                                    <option value="1">导出所有列</option>
                                    <option value="2">仅导出显示列</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--表格数据-->
                    <div class="layui-col-md12 layui-border-box layui-table-view" lay-filter="LAY-table-1">
                        <table id="q-data-table" lay-filter="formValue">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="lay-hide layui-form layui-form-item" id="showCol">
</div>

<form class="lay-hide layui-form layui-form-item" id="addData">
</form>

<!-- Change /upload-target to your upload address -->
<div id="excel" class="lay-hide dropzone" style=" border: 2px dashed #0087F7;
            border-radius: 5px;
            background: white">

    <div class="dz-message needsclick">
        点击此处或将文件拖拽到此处<br>
        <span class="note needsclick">(请上传<strong>.xls</strong>或者<strong>.xlsx</strong>的文件 )</span>
        <span class="note needsclick">(上传文件大小不要超过<strong>256KB</strong>)</span>
    </div>
</div>
<div class="layui-inline lay-hide" id="datetimepicker">
    <label class="layui-form-label">日期范围</label>
    <div class="layui-input-inline">
        <input type="text" class="layui-input" id="datetime" placeholder=" - ">
    </div>
</div>
<script id="showCols" type="text/html">
    <div class="layui-form-item" pane="">
        <ul class="layui-input-block showtips">
            {{#layui.each(d,function(i,prop){}}
            {{#if(prop.field&&prop.field!='id'){}}
            <li><input type="checkbox" class="prop" lay-skin="primary" title="{{prop.title}}"
                       checked="{{!prop.show}}">
            </li>
            {{#}}}
            {{#});}}
        </ul>
    </div>
</script>

<script type="text/html" id="singletext">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--单行文字-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')!=-1){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md6">
                {{#if(d.default){}}
                <div type="text" class="layui-input"></div>
                {{#}else{}}
                <input type="text" name="{{d.name}}" lay-verify="{{d.value.verify}}" value="{{d.value.value}}"
                       class="layui-input">
                {{#}}}
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="multitext">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--多行文字-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12">
                {{#if(d.default){}}
                <div type="text" class="layui-textarea"></div>
                {{#}else{}}
                <textarea class="layui-textarea" name="{{d.name}}" lay-verify="{{d.value.verify}}"
                          value="{{d.value.value}}"></textarea>
                {{#}}}
            </div>
        </div>
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
    </div>
</script>
<script type="text/html" id="singleselect">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--单项选择-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12 text-left">

                {{#layui.each(d.value.radios,function(i,item){}}
                {{#if(d.default){}}
                <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>{{item}}</span>
                </div>
                </br>
                {{#}else{}}
                <input type="radio" name="{{item.name}}" value="{{item.value}}" title="{{item.value}}"
                       checked="{{item.checked}}">
                <br/>
                {{#}}}
                {{#});}}
            </div>
        </div>
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
    </div>
</script>
<script type="text/html" id="multiselect">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--多项选择-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12 text-left">

                {{#layui.each(d.value.checkboxs,function(i,item){}}
                {{#if(d.default){}}
                <div class="layui-unselect layui-form-checkbox " lay-skin=""><span>{{item}}</span><i class="layui-icon"></i>
                </div>
                <br/>
                {{#}else{}}
                <input type="checkbox" name="{{item.name}}" value="{{item.value}}" title="{{item.value}}"
                       checked="{{item.checked}}">
                <br/>
                {{#}}}
                {{#});}}
            </div>
        </div>
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
    </div>
</script>
<script type="text/html" id="singlepic">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--图片单选-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <!--有图片就把上面一段隐藏-->
            <div class="layui-row layui-col-md12 text-left">

                {{#layui.each(d.value.images,function(i,item){}}
                {{#if(d.default){}}
                <div class="layui-col-md3 redioimg">
                    <label class="radio" style="display: block;">
                        <div class="image-center"><img
                                src="{{item.imgPath}}">
                        </div>
                        <div class="text-wrapper">
                            <div class="layui-unselect layui-form-radio"><i
                                    class="layui-anim layui-icon"></i><span>{{item.title}}</span></div>
                        </div>
                    </label>
                </div>
                {{#}else{}}
                <div class="layui-col-md3 redioimg">
                    <label class="radio" style="display: block;">
                        <div class="image-center"><img
                                src="{{item.imgPath}}">
                        </div>
                        <div class="text-wrapper">
                            <div class="radio-button-wrapper">
                                <input type="radio" name="{{item.name}}"
                                       value="{{item.value}}"
                                       title="{{item.title}}">
                            </div>
                        </div>
                    </label>
                </div>
                {{#}}}
                {{#});}}
            </div>
        </div>
    </div></script>
<script type="text/html" id="multipic">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--图片多选-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>

            <div class="layui-row layui-col-md12 text-left">

                {{#layui.each(d.value.images,function(i,item){}}
                {{#if(d.default){}}
                <div class="layui-col-md3 redioimg">
                    <label class="checkbox" style="display: block;">
                        <div class="image-center"><img
                                src="{{item.imgPath}}">
                        </div>
                        <div class="text-wrapper">
                            <div class="checkbox-button-wrapper">
                                <input type="checkbox" name="field[choices]"
                                       value="1" title="{{item.title}}">
                            </div>
                        </div>
                    </label>
                </div>
                {{#}else{}}
                <div class="layui-col-md3 redioimg">
                    <label class="checkbox" style="display: block;">
                        <div class="image-center"><img
                                src="{{item.imgPath}}">
                        </div>
                        <div class="text-wrapper">
                            <div class="checkbox-button-wrapper">
                                <input type="checkbox" name="{{item.name}}"
                                       value="{{item.value}}"
                                       title="{{item.title}}">
                            </div>
                        </div>
                    </label>
                </div>
                {{#}}}
                {{#});}}
            </div>
        </div>
    </div>
    </div></script>
<script type="text/html" id="singlemat">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--矩阵单选-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>

            <div class="gtable">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th></th>
                        {{#layui.each(d.value.table.thead.ths,function(i,th){}}
                        <th>{{th.title}}</th>
                        {{#});}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#layui.each(d.value.table.tbody.trs,function(i,tr){}}
                    <tr>
                        <td>{{tr.title}}</td>
                        {{#layui.each(tr.tds,function(i,td){}}
                        <td>
                            {{#if(d.default){}}
                            <div class="layui-unselect layui-form-radio"><i
                                    class="layui-anim layui-icon"></i><span>{{td.title}}</span>
                            </div>
                            {{#}else{}}
                            <input type="radio" name="{{td.name}}" value="{{td.value}}" title="{{td.title}}">
                            {{#}}}
                        </td>
                        {{#});}}
                    </tr>
                    {{#});}}
                    </tbody>

                </table>
            </div>
        </div>
    </div></script>
<script type="text/html" id="mattext">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--矩阵填空-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="gtable">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th></th>
                        {{#layui.each(d.value.table.thead.ths,function(i,th){}}
                        <th>{{th.title}}</th>
                        {{#});}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#layui.each(d.value.table.tbody.trs,function(i,tr){}}
                    <tr>
                        <td>{{tr.title}}</td>
                        {{#layui.each(tr.tds,function(i,td){}}
                        <td>
                            {{#if(d.default){}}
                            <div type="text" class="layui-input"></div>
                            {{#}else{}}
                            <input type="text" name="{{td.name}}" value="{{td.value}}" title="{{td.title}}">
                            {{#}}}
                        </td>
                        {{#});}}
                    </tr>
                    {{#});}}
                    </tbody>
                </table>
            </div>
        </div>
    </div></script>
<script type="text/html" id="numberfield">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--123数字-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-inline layui-col-md12">
                <div class="layui-input-inline">
                    {{#if(d.default){}}
                    <div type="text" class="layui-input"></div>
                    {{#}else{}}
                    <input type="text" name="{{d.name}}" lay-verify="{{d.value.verify}}" value="{{d.value.value}}"
                           class="layui-input">
                    {{#}}}
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="timepicker">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--时间-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                {{#if(!d.default){}}
                <select name="{{d.name}}" lay-verify="d.value.verify">
                    <option value="">时</option>
                    {{#for(var i=0;i<24;i++){}}
                    {{#if(i<10) i='0'+i;}}
                    <option value="{{i}}">{{i}}</option>
                    {{#}}}
                </select>
                {{#}else{}}
                <div class="layui-unselect layui-form-select">
                    <div class="layui-select-title"><input type="text" placeholder="时" value="" readonly=""
                                                           class="layui-input layui-unselect"><i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit" style="">
                        <dd lay-value="" class="layui-select-tips">时</dd>
                    </dl>
                </div>
                {{#}}}
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                {{#if(!d.default){}}
                <select name="{{d.name}}" lay-verify="d.value.verify">
                    <option value="">分</option>
                    {{#for(var i=0;i<60;i++){}}
                    {{#if(i<10) i='0'+i;}}
                    <option value="{{i}}">{{i}}</option>
                    {{#}}}
                </select>
                {{#}else{}}
                <div class="layui-unselect layui-form-select layui-form-selected">
                    <div class="layui-select-title"><input type="text" placeholder="分" value="" readonly=""
                                                           class="layui-input layui-unselect"><i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit" style="">
                        <dd lay-value="" class="layui-select-tips">分</dd>
                    </dl>
                </div>
                {{#}}}
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="datepicker">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--日期-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <label class="layui-form-label labelwidth">
                <i class="layui-icon">&#xe637;</i>
            </label>

            <div class="layui-input-block">
                {{#if(d.default){}}
                <div type="text" class="layui-input"></div>
                {{#}else{}}
                <input type="text" name="{{d.name}}" lay-verify="{{d.value.verify}}" value="{{d.value.value}}"
                       class="layui-input">
                {{#}}}
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="dropselect">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--下拉框-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                {{#if(!d.default){}}
                <select name="{{d.name}}" lay-verify="{{d.value.verify}}">
                    <option value="">请选择</option>
                    {{#layui.each(d.value.options,function(i,option){}}
                    <option value="{{option.value}}">{{option.name}}</option>
                    {{#});}}
                </select>
                {{#}else{}}
                <div class="layui-select-title"><input type="text" placeholder="请选择" value=""
                                                       class="layui-input layui-unselect"><i class="layui-edge"></i>
                </div>
                {{#}}}
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="descfield">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--描述-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="urlfield">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--网址-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12">
                <label class="layui-form-label labelwidth">
                    <i class="layui-icon">&#xe64c;</i>
                </label>

                <div class="layui-input-block">
                    {{#if(d.default){}}
                    <div type="text" class="layui-input"></div>
                    {{#}else{}}
                    <input type="text" name="{{d.name}}" lay-verify="{{d.value.verify}}" value="{{d.value.value}}"
                           class="layui-input">
                    {{#}}}
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="markfield">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--评分-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                <div class="spingfen">
                    {{#if(d.default){}}
                    {{#layui.each(d.value.score,function(i,item){}}
                    <i class="layui-icon">&#xe658;</i>
                    {{#});}}
                    {{#layui.each(d.value.fullscore-d.value.score,function(i,item){}}
                    <i class="layui-icon">&#xe658;</i>
                    {{#});}}

                    {{#}else{}}
                    <i class="layui-icon">&#xe658;</i><i
                        class="layui-icon">&#xe658;</i> <i class="layui-icon">&#xe658;</i>
                    {{#}}}
                </div>

            </div>
        </div>
    </div>
</script>
<script type="text/html" id="multiselected">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--两级下拉框-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                {{#if(!d.default){}}
                <select name="{{d.name}}" lay-verify="d.value.verify">
                    <option value="">{{d.value.fdefault}}</option>
                    {{#layui.each(d.value.fOptoins,function(i,fOption){}}
                    <option value="{{fOption.value}}">{{fOption.name}}</option>
                    {{#});}}
                </select>
                {{#}else{}}
                <div class="layui-unselect layui-form-select">
                    <div class="layui-select-title"><input type="text" placeholder="时" value="" readonly=""
                                                           class="layui-input layui-unselect"><i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit" style="">
                        <dd lay-value="" class="layui-select-tips">请选择</dd>
                    </dl>
                </div>
                {{#}}}
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                {{#if(!d.default){}}
                <select name="{{d.name}}" lay-verify="d.value.verify">
                    <option value="">{{d.value.sdefault}}</option>
                    {{#layui.each(d.value.sOptoins,function(i,sOption){}}
                    <option value="{{sOption.value}}">{{sOption.name}}</option>
                    {{#});}}
                </select>
                {{#}else{}}
                <div class="layui-unselect layui-form-select layui-form-selected">
                    <div class="layui-select-title"><input type="text" placeholder="分" value="" readonly=""
                                                           class="layui-input layui-unselect"><i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit" style="">
                        <dd lay-value="" class="layui-select-tips">请选择</dd>
                    </dl>
                </div>
                {{#}}}
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="uploadfile">
    <div class="new-line" id="{{d.index}}" editor="{{d.editor}}">
        <!--上传文件-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{#if(d.value.verify.indexOf('required')){}}
                *
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-desc">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12 layui-inline upbox">
                <i class="layui-icon">&#xe681;</i>
                {{#if(d.default){}}
                <p>请选择或拖拽上传文件，20MB以内。 </p>
                {{#}else{}}
                <p>{{d.value.filetype}}，{{d.value.filecount}},{{d.value.filesize}}。 </p>
                {{#}}}
            </div>
        </div>
    </div>
</script>

</body>
<script th:src="@{/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
    var formId = [[${formDetail.form.id}]];
    var props = [[${formDetail.formProperties}]], formProp = [], cols = [];
    var today = [[${today}]] == '1';
    formProp.push({checkbox: true})
    var prop;
    for (var i = 0; i < props.length; i++) {
        prop = {};
        prop.field = props[i].name;
        prop.title = props[i].name;
        prop.sort = true;
        prop.width = 'auto';
        formProp.push(prop);
    }
    formProp.push({field: 'author', title: '创建人', width: 'auto'});
    formProp.push({field: 'createTime', title: '创建时间', width: 'auto', sort: true});
    formProp.push({field: 'lastModifyTime', title: '最后修改时间', width: 'auto', sort: true});
    formProp.push({field: 'lastModifyPerson', title: '最后修改人', width: 'auto'});
    formProp.push({field: 'browser', title: '浏览器', width: 'auto'});
    formProp.push({field: 'os', title: '操作系统', width: 'auto'});
    formProp.push({field: 'submitIP', title: 'IP', width: 'auto'});
    formProp.push({field: 'id', title: 'ID', width: 'auto', show: false});

    cols.push(formProp);

</script>
<script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/dropzone.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/Util.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var search, del, outport, importExcel, add, showCol, showDatePicker;
    Dropzone.autoDiscover = false;
    layui.use(['table', 'element', 'layer', 'laytpl', 'form', 'laydate'], function () {
        var table = layui.table;
        var element = layui.element;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var form = layui.form;
        var laydate = layui.laydate;
        //展示已知数据
        var formData = table.render({
            elem: '#q-data-table',
            url: '/formValue/formDatas',
            data: [],
            cols: cols,
            where: {
                formId: formId,
                startTime: today ? new Date().Format('yyyy-MM-dd HH:mm:ss') : '',
                endTime: today ? new Date().Format('yyyy-MM-dd HH:mm:ss') : ''
            },
            method: 'get',
            request: {
                pageName: 'curPage'
                , limitName: 'pageSize'
            },
            height: 572,
            skin: 'row', //表格风格
            even: true,
            page: true, //是否显示分页
            limits: [15, 30, 45],
            limit: 15 //每页默认显示的数量
        });
        laydate.render({
            elem: '#datetime'
            , type: 'datetime'
            , range: true
        });

        showDatePicker = function () {
            layer.open({
                type: 1,
                title: '选择日期',
                area: ['350px', '150px'],
                shadeClose: true, //点击遮罩关闭层
                content: $('#datetimepicker'),
                btn: ['确定'],
                btnAlign: 'l', //按钮排列 左对齐
                yes: function (index, layero) { //或者使用btn1
                    search();
                    layer.close(index);
                }
            });
        };
        search = function () {
            var datetimerange = $('#datetime').val().split(' - ');
            var startTime = datetimerange[0], endTime = datetimerange[1];
            formData.reload({
                where: {
                    content: $('#searchContent').val(),
                    startTime: startTime,
                    endTime: endTime,
                    formId: formId
                }
            });
        };
        del = function () {
            var ids = "";
            for (var i in table.checkData) {
                ids += table.checkData[i].id + ",";
            }
            ids = ids.substring(0, ids.length - 1);
            ids && $.get('/formValue/del', {ids: ids}).done(function (data) {
                layer.msg(data.msg, {time: 3000});
                search();
            });
        };
        outport = function (all) {
            var params = {};
            params.content = $('#searchContent').val();
            params.startTime = '';
            params.endTime = '';
            params.formId = formId;
            if (!!all) {
                params.curPgae = formData.config.index;
                params.pageSize = formData.config.limit;
            }
            window.open('/formValue/outport?' + parseParam(params));
            layer.msg('导出成功', {time: 3000});
        };
        add = function () {
            layer.open({
                type: 1,
                title: '添加数据',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['800px', '520px'],
                content: $('#addData'),
                btn: ['确定', '取消', '提交并再填一份'],
                btnAlign: 'l', //按钮排列 左对齐
                yes: function (index, layero) { //或者使用btn1
                    addData();
                    layer.close(index);
                    $('#addData').reset();
                },
                cancel: function (index) { //或者使用btn2
                    layer.close(index);
                },
                btn3: function (index, layero) {
                    addData();
                    $('#addData').reset();
                }
            });
        }

        function addData() {
            var keys, value = $('#addData').serialize();
            for (var key in value) {
                keys = key.split("_");
                if (keys.length > 1) {
                    value[keys[0]] += value[key] + " ";
                    delete value[key];
                }
            }
            $.post('/formValue/save', {value: value}, function (data) {
                layer.msg(data.msg, {time: 3000});
            });
        }

        $("#excel").dropzone({
            url: "/formValue/import?formId=" + formId,
            addRemoveLinks: true,
            dictInvalidInputType: '请上传.xls(x)的文件',
            dictFileTooBig: 'excel表格不要超过256KB',
            dictRemoveFile: '点我删除文件',
            maxFilesize: 0.25,
            paramName: 'excel',
            acceptedFiles: ".xls,.xlsx",
            init: function () {
                this.on("success", function (file) {
                    layer.msg(file.name + "导入成功", {time: 3000});
                });
            }
        });
        importExcel = function () {
            layer.open({
                type: 1,
                title: '上传数据',
                shadeClose: true, //点击遮罩关闭层
                content: $('#excel'),
                btn: ['完成'],
                area: ['400px', '315px'],
                btnAlign: 'l', //按钮排列 左对齐
                yes: function (index, layero) { //或者使用btn1
                    search();
                    layer.close(index);
                }
            });
        };
        laytpl(showCols.innerHTML).render(formProp, function (html) {
            $('#showCol').html(html);
            form.render();
        });
        showCol = function () {
            layer.open({
                type: 1,
                title: '编辑显示的内容（取消为不显示）',
                area: ['600px', '360px'],
                shadeClose: true, //点击遮罩关闭
                btn: ['确定', '取消'],
                btnAlign: 'l', //按钮排列 左对齐
                content: $('#showCol'),
                yes: function (index, layero) {
                    $('.prop').each(function (i, ele) {
                        formProp[i + 1].show = ele.checked;
                    });
                    cols[0] = formProp;
                    formData.reload({
                        cols: cols
                    });
                    layer.close(index);
                },
                btn2: function (index, layero) {
                    //按钮【按钮二】的回调
                },
            });
        }
        table.on('col(formValue)', function (data) {
            for (var i = 0; i < props.length; i++) {
                props[i].value = JSON.parse(props[i]);

                laytpl($('#' + props[i].type).html()).render(props[i], function (html) {
                    $('#editData').append(html);
                });
            }
            layer.open({
                type: 1,
                title: '数据详情',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['800px', '520px'],
                content: '需要修改的数据，暂时没有页面',
                btn: ['修改', '删除'],
                btnAlign: 'l', //按钮排列 左对齐
                yes: function (index, layero) { //或者使用btn1
                    //按钮【按钮一】的回调
                },
                cancel: function (index) { //或者使用btn2
                    //按钮【按钮二】的回调
                }
            });
        });
        (function () {
            for (var i = 0; i < props.length; i++) {
                props[i].value = JSON.parse(props[i]);
                laytpl($('#' + props[i].type).html()).render(props[i], function (html) {
                    $('#addData').append(html);
                });
            }
        })();
    });
</script>
</html>