<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DCW</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gaishu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shuju.css}"/>
    <style type="text/css">
        .clearfix:after {
            content: '';
            clear: both;
            display: block;
        }

        a {
            text-decoration: none;
        }

        .text-left {
            text-align: left;
        }

        .field-name {
            height: 35px;
            line-height: 35px;
            font-size: larger;
            overflow: auto;
        }

        .field-desc {
            height: 25px;
            line-height: 25px;
            font-weight: lighter;
            font-size: x-small;
            overflow: hidden;
        }

        header {
            background-color: #393D49;
        }

        .msg {
            width: 60px;
            height: 35px;
            border-radius: 3px;
            background-color: #333745;
            position: absolute;
            top: 23px;
            right: 5px;
            display: none;
        }

        .msg p {
            width: 100%;
            line-height: 35px;
            text-align: center;
            color: #fff;
            border-radius: 5px;
            position: relative;
            top: 0;
            left: 0;
        }

        .msg .up-trangle {
            display: block;
            width: 0;
            height: 0;
            border: 8px solid #333745;
            transform: rotateZ(45deg);
            position: absolute;
            top: -4px;
            right: 15px;
        }

        .container {
            box-sizing: border-box;
            width: 960px;
            padding: 0 7px;
            margin: auto;
        }

        nav .container {
            margin: 10px auto;
            margin-bottom: 0;
        }

        .formEditorView {
            height: 600px;
            overflow: auto;
            text-align: center;
        }

        form .banner {
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }

        form .layui-form-item {
            width: 85%;
            margin: auto;
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }

        form .layui-input {
            border-color: 1px solid #5FB878;
        }

        .add-field .fied-item div {
            padding-left: 20px;
            text-align: left;
            height: 35px;
            line-height: 35px;
            overflow: hidden;
            color: #000000;
            transition: all 0.2s;
        }

        .add-field .fied-item div:hover {
            cursor: pointer;
            color: #009AFF !important;
        }

        .form-container {
            width: 90%;
            padding-bottom: 50px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
        }

        form .layui-form-item {
            border: none !important;
        }

        .add-field .layui-this {
            background-color: #009AFF !important;
            color: #fff !important;
        }

        form .new-line:hover {
            cursor: pointer;
        }

        .formEditorView .active-line {
            background-color: #F2FAFF;
            border: 1px dashed #1E9FFF;
            border-left: none;
            border-right: none;
            border-radius: 5px;
        }

        form .new-line {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            position: relative;
            top: 0;
            left: 0;
        }

        .fn-area {
            position: absolute;
            bottom: -10px;
            right: 100px;
            background-color: #fff;
            display: none;
        }

        .fn-area .ele-copy,
        .fn-area .ele-del {
            width: 30px;
            height: 30px;
            border-radius: 2px;
        }

        .fn-area .ele-copy:hover,
        .fn-area .ele-del:hover {
            background-color: #D84C29;
            cursor: pointer;
        }

        .formEditorView .active-line .fn-area {
            display: block;
        }

        .active-line .layui-form-item input,
        .active-line .layui-form-item textarea,
        .active-line .layui-form-item select {
            border-color: #9F9F9F;
        }

        .setting-row .pull-left {
            line-height: 30px !important;
        }

        .setting-row input {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
<header>
    <div class="container">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a th:href="@{/form/desktop}">桌面</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/user/userInfo}"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">个人中心</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a th:href="@{/logout}">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</header>
<nav>
    <div class="layui-tab container">
        <ul class="layui-tab-title">
            <!--概述编辑规则设置发布数据报表-->
            <li class="layui-this">概述</li>
            <li><a th:href="@{'/form/edit/'+${formDetail.form.id}}">编辑</a></li>
            <li><a th:href="@{'/formValue/myFormData/'+${formDetail.form.id}}">数据</a></li>
        </ul>
        <div class="layui-form-item gform">
            <div class="formright">
                <label class="layui-form-label">发布表单</label>
                <input type="text" id="myForm" th:value="@{'~/form/view/'+${formDetail.form.id}}"
                       class="border-gray"/>
                <i class="layui-icon" onclick="document.getElementById('myForm').select();document.execCommand('Copy');">&#xe64c;</i>
                <a th:href="@{'/form/view/'+${formDetail.form.id}}" target="_blank"><i class="layui-icon">
                    &#xe641;</i></a>
            </div>
        </div>
        <div class="layui-tab-content">
            <!--概述内容-->
            <div class="layui-tab-item layui-show">
                <!--概述页面写在这里-->
                <!--3/12-->
                <div class="layui-row  gaishu">
                    <div class="layui-col-md3">
                        <div class="grid-demo grid-demo-bg1">
                            <a th:href="@{'/formValue/myFormData/'+${formDetail.form.id}}"><span class="number"
                                                                                                 th:text="${formDetail.formValueCount}">0</span>

                                <p>表单总数据</spam><i
                                        class="layui-icon">&#xe60b;</i></p></a>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="grid-demo">
                            <a th:href="@{'/formValue/myFormData/'+${formDetail.form.id}(today=today)}"> <span
                                    class="number"
                                    th:text="${formDetail.todaySubmitCount}">1</span>

                                <p>今日提交<i class="layui-icon">
                                    &#xe60b;</i></p></a>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="grid-demo grid-demo-bg1">
                            <span class="number" th:text="${formDetail.form.viewCount}">100</span>

                            <p>表单被浏览<i class="layui-icon">
                                &#xe60b;</i></p>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="grid-demo">
                            <span class="number" th:text="${formDetail.form.resultViewCount}">20</span>

                            <p>结果被浏览<i class="layui-icon">
                                &#xe60b;</i></p>
                        </div>
                    </div>
                </div>
                <!--6/12-->
                <div class="layui-row gtwo">
                    <form class="layui-form" id="editForm" th:action="@{/form/editForm}" method="post">
                        <input type="hidden" name="id" id="id" th:value="${formDetail.form.id}"/>

                        <div class="layui-col-xs6 setpad">
                            <div class="grid-demo grid-demo-bg1">
                                <!--4条数据-->
                                <div class="layui-row">
                                    <div class="layui-col-md4">表单创建时间</div>
                                    <div class="layui-col-md4 layui-col-md-offset4"
                                         th:text="${#dates.format(formDetail.form.createTime,'yyyy-MM-dd HH:mm:ss')}">
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">填写者权限</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <div class="select">
                                            <select name="submitPrivilege" lay-filter="edit">
                                                <option th:selected="${formDetail.form.submitPrivilege=='PEOPER_OF_ALL'}"
                                                        value="PEOPER_OF_ALL">所有人
                                                </option>
                                                <option th:selected="${formDetail.form.submitPrivilege=='PEOPER_OF_NONE'}"
                                                        value="PEOPER_OF_NONE">不公开
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row gcheck">
                                    <div class="layui-col-md4">表单开启/停止</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <input type="checkbox" name="collectFlag" lay-filter="edit"
                                                       th:checked="${formDetail.form.collectFlag}"
                                                       lay-skin="switch"
                                                       lay-text="开启|关闭">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">结果分享</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <div class="select">
                                            <select name="resultShow" lay-filter="edit">
                                                <option th:selected="${formDetail.form.submitPrivilege=='PEOPER_OF_ALL'}"
                                                        value="PEOPER_OF_ALL">公开
                                                </option>
                                                <option th:selected="${formDetail.form.submitPrivilege=='PEOPER_OF_NONE'}"
                                                        value="PEOPER_OF_NONE">私密
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--右侧-->
                    <form class="layui-form">
                        <div class="layui-col-xs6 setpad gtwo-right">
                            <div class="grid-demo ">
                                <div class="layui-row">
                                    <div class="layui-col-md4">表单标签</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <a href="javascript:void(0)" class="gma"><span id="labels"
                                                                                       th:text="${formDetail.form.labels}"></span><i
                                                name="labels"
                                                class="layui-icon tips">&#xe642;</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">表单提交次数限制</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <a href="javascript:void(0)" class="gma"><span id="submitCountLimited"
                                                                                       th:text="${formDetail.form.submitCountLimited}"
                                        ></span><i name="submitCountLimited"
                                                   class="layui-icon tips">&#xe642;</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">邮件推送提醒</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <a href="javascript:void(0)" class="gdashed">未开启</a>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">短信推送提醒</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <a href="javascript:void(0)" class="gdashed">未开启</a>
                                    </div>
                                </div>
                                <!--<div class="layui-row">-->
                                <!--<div class="layui-col-md4">团队协作</div>-->
                                <!--<div class="layui-col-md4 layui-col-md-offset4">-->
                                <!--<a href="javascript:void(0)" class="gma"><img src="http://t.cn/RCzsdCq"-->
                                <!--class="layui-nav-img"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </form>
                </div>
                <!--表格数据-->
                <div class="layui-row gthree">
                    <div class="layui-col-md10">
                        <div class="grid-demo grid-demo-bg1">
                            <span>最近提交表单数据</span>
                            <a th:href="@{'/formValue/myFormData/'+${formDetail.form.id}}"
                               style="color: #007DDB;">查看更多</a>
                        </div>
                    </div>
                    <div class="layui-col-md2 g-right">
                        <div class="grid-demo">
                            <a class="layui-btn layui-btn-primary layui-btn-mini" id="sjadd" href="javascript:void(0)">添加数据</a>
                            <a class="" href="javascript:">
                                <i class="layui-icon" id="sjedit">&#xe62a;</i>
                            </a>
                        </div>
                    </div>
                    <!--表格 有数据or 没有数据-->
                    <div class="row layui-form">
                        <table id="q-table-recent-submit" lay-filter="formValue"></table>
                    </div>
                    <!--复制 删除表单--><!----><!---->
                    <div class="foot-btn">
                        <button class="layui-btn layui-btn-warm layui-btn-small" onclick="del('delFormValue');">清空数据
                        </button>
                        <button class="layui-btn layui-btn-danger layui-btn-small" onclick="del('delForm');">删除表单
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="lay-hide layui-form-item" id="editData">
    <!--<input type="submit" lay-submit lay-filter="editData" value="提交"/>-->
    <div class="layui-row">
        <div class="layui-col-xs8">
            <div class="grid-demo">
                <!--表单放这-->
                <section class="formEditorView">
                </section>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="grid-demo grid-demo-bg2 ">提交人：<span class="other" name="author"></span></div>
            <div class="grid-demo grid-demo-bg2 ">提交时间：<span class="other" name="createTime"></span></div>
            <div class="grid-demo grid-demo-bg2 ">修改人：<span class="other" name="lastModifyPerson"></span></div>
            <div class="grid-demo grid-demo-bg2 ">修改时间：<span class="other" name="lastModifyTime"></span></div>
            <div class="grid-demo grid-demo-bg2 ">浏览器：<span class="other" name="browser"></span></div>
            <div class="grid-demo grid-demo-bg2 ">操作系统：<span class="other" name="os"></span></div>
            <div class="grid-demo grid-demo-bg2 ">IP：<span class="other" name="submitIP"></span></div>
        </div>
    </div>
</div>
<div class="lay-hide layui-form-item" id="addData">
    <!--<input type="submit" lay-submit lay-filter="addData" value="提交" style="display: none;"/>-->
    <div class="layui-row">
        <div class="grid-demo">
            <!--表单放这-->
            <section class="formEditorView">
            </section>
        </div>
    </div>
</div>
<form class="lay-hide layui-form  form-container" id="formContainer">
</form>
<div class="lay-hide layui-form layui-form-item" id="showCol">
</div>
<div th:include="/pages/templates::showCols"></div>
<div th:include="/pages/templates::filesInTable"></div>
<div th:include="/pages/templates::templates"></div>
</body>
<script th:src="@{/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/Util.js}" type="text/javascript" charset="utf-8"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=mfZGQrMfwBXfdLgIQaaFH0cS1kBKu11p"
        type="text/javascript"></script>
<script type="text/javascript">
    var maps = {}, geolocation = new BMap.Geolocation(), geoc = new BMap.Geocoder();

    function setLocation(map, getLocation) {
        geoc.getPoint(getLocation, function (point) {
            if (point) {
                maps[map].map.clearOverlays();
                maps[map].map.centerAndZoom(point, 16);
                maps[map].map.addOverlay(new BMap.Marker(point));
            } else {
                alert("您选择地址没有解析到结果!");
            }
        });
    }

    function myLoc(map) {
        geolocation.getCurrentPosition(function (r) {
            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                var pt = r.point;
                geoc.getLocation(pt, function (result) {
                    if (result) {
                        maps[map].map.clearOverlays();
                        maps[map].map.centerAndZoom(pt, 16);
                        maps[map].map.addOverlay(new BMap.Marker(pt));
                        var addComp = result.addressComponents;
                        maps[map].elem.val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
                    }
                });
            }
        });
    }
</script>
<script th:inline="javascript">
    var data = [[${formDetail.formValues}]], formData = [], formId = [[${formDetail.form.id}]];
    var props = [[${formDetail.formProperties}]], formProp = [], cols = [];
    var value, tempform;
    for (var i = 0; i < data.length; i++) {
        value = JSON.parse(data[i].value);
        delete data[i].value;
        tempform = $.extend({}, value, data[i]);
        tempform.createTime = new Date(tempform.createTime).Format('yyyy-MM-dd HH:mm:ss');
        tempform.lastModifyTime = new Date(tempform.lastModifyTime).Format('yyyy-MM-dd HH:mm:ss');
        formData.push(tempform);
    }
    var prop;
    for (var i = 0; i < props.length; i++) {
        prop = {};
        prop.field = props[i].id;
        prop.title = props[i].name;
        prop.sort = true;
        prop.width = 'auto';
        if (props[i].type == 'uploadfile') {
            prop.dataFilter = function (content) {
                return content ? JSON.parse(content) : {};
            };
            prop.templet = '#filesInTable'
        }
        formProp.push(prop);
    }
    formProp.push({field: 'author', title: '创建人', width: 'auto'});
    formProp.push({field: 'createTime', title: '创建时间', width: 'auto', sort: true});
    formProp.push({field: 'lastModifyTime', title: '最后修改时间', width: 'auto', sort: true});
    formProp.push({field: 'lastModifyPerson', title: '最后修改人', width: 'auto'});
    formProp.push({field: 'browser', title: '浏览器', width: 'auto'});
    formProp.push({field: 'os', title: '操作系统', width: 'auto'});
    formProp.push({field: 'submitIP', title: 'IP', width: 'auto'});
    cols.push(formProp);
</script>

<script type="text/javascript">
    var del;
    layui.use(['table', 'layer', 'element', 'form', 'upload', 'laydate'], function () {
        var table = layui.table;
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var laydate = layui.laydate;
        var $html, name, $form = $('#formContainer').html('<input type="hidden" name="id"/>');
        props && layui.each(props, function (i, prop) {
                name = prop.id;
                prop.value = JSON.parse(prop.value);
                laytpl($('#' + prop.type).html()).render(prop, function (html) {
                    $html = $(html);
                    $form.append($html);
                    switch (prop.type) {
                        case "multiselected":
                            var select = {}, s;
                            select[prop.value.select.fdefault] = [prop.value.select.sdefault];
                            layui.each(prop.value.selects, function (i) {
                                s = prop.value.selects[i];
                                select[s.value] = [];
                                layui.each(s.seconds, function (j) {
                                    select[s.value].push(s.seconds[j]);
                                });
                            });
                            $html.find('.fselect').data('seconds', select);
                            form.on('select(fselect)', function (data) {
                                var $elem = $(data.elem)
                                var seconds = $elem.data('seconds');
                                var template = '<option value="VALUE">VALUE</option>', html = '';
                                layui.each(seconds[data.value], function () {
                                    html += template.replace('VALUE', this).replace('VALUE', this);
                                });
                                $(data.elem).parent().next().find('.sselect').html(html);
                                form.render('select');
                            });
                            break;
                        case"markfield":
                            $html.find('.score').on('click', function () {
                                var score = $(this).index() + 1, fullScore = $(this.parentNode).children();
                                layui.each(fullScore, function () {
                                    if ($(this).index() < score)
                                        $(this).css('color', '#FFAC21');
                                    else $(this).removeAttr('style');
                                });
                                $(this.parentNode).next('input').val(score);
                            });
                            break;
                        case"datepicker":
                            laydate.render({
                                elem: $html.find('input[name="' + name + '"]')[0]
                            });
                            break;
                        case"uploadfile":
                            var uploadListIns = upload.render({
                                elem: $html.find('.upbox')
                                , url: '/formValue/uploadImg'
                                , accept: prop.value.fileType
                                , exts: prop.value.fileExts
                                , fileCount: prop.value.fileCount
                                , size: parseInt(prop.value.fileSize) * 1024
                                , multiple: true
                                , auto: true
                                , before: function (obj) {
                                    var files = obj.pushFile(); //将每次选择的文件追加到文件队列
                                    //读取本地文件
                                    obj.preview(function (index, file, result) {
                                        var tr = $(['<tr id="upload-' + index + '">'
                                            , '<td>' + file.name + '</td>'
                                            , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                                            , '<td>等待上传</td>'
                                            , '<td>'
                                            , '<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
                                            , '<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                                            , '</td>'
                                            , '</tr>'].join(''));
                                        var $html = obj.elem.parents('.new-line')
                                            , $uploadList = $html.find('.uploadList')
                                            , $uploadElem = $html.find('.upbox')
                                            , $upload = $html.find('.layui-upload')
                                            , $input = $html.find('input[type="hidden"]');
                                        //单个重传
                                        tr.find('.demo-reload').on('click', function () {
                                            obj.upload(index, file);
                                        });

                                        //删除
                                        tr.find('.demo-delete').on('click', function () {
                                            delete files[index]; //删除对应的文件
                                            tr.remove();
                                            var imgPath = tr.attr('filePath');
                                            imgPath && $.get('/formValue/delImg', {imgPath: imgPath});
                                            if ($uploadList.find('tr').length == 0) {
                                                $uploadElem.show();
                                                $upload.hide();
                                            }
                                            layui.each($uploadList.find('tr'), function () {
                                                files.push('"' + $(this).children().get(0).innerHTML + "\":\"" + $(this).attr('filePath')) + '"';
                                            });
                                            $input.val("{" + files.join(',') + "}");
                                        });
                                        $uploadList.append(tr);
                                        $uploadElem.hide();
                                        $upload.show();
                                        $uploadList.show();
                                    });
                                }
                                , done: function (res, index, upload, elem) {
                                    if (res.code == 0) { //上传成功
                                        var $html = elem.parents('.new-line')
                                            , $uploadList = $html.find('.uploadList')
                                            , $input = $html.find('input[type="hidden"]')
                                            , tr = $uploadList.find('tr#upload-' + index)
                                            , tds = tr.children();
                                        tr.attr('filePath', res.data.imgPath);
                                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                                        // tds.eq(3).html(''); //清空操作
                                        tds.eq(3).find('.demo-reload').hide();
                                        var files = [];
                                        layui.each($uploadList.find('tr'), function () {
                                            files.push('"' + $(this).children().get(0).innerHTML + "\":\"" + $(this).attr('filePath') + '"');
                                        });
                                        $input.val("{" + files.join(',') + "}");
                                        return;
                                    }
                                    this.error(index, upload);
                                }
                                , error: function (index, upload) {
                                    var tr = $uploadList.find('tr#upload-' + index)
                                        , tds = tr.children();
                                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                                }
                            });
                            break;
                    }
                });
            }
        );
        form.render();
        var rebuildForm = function () {
            $form.resetForm();
            var $elem;
            props && layui.each(props, function (i, prop) {
                    name = prop.id;
                $elem = $form.find('div.'+name);
                    if (prop.value.hasDefaultVal)
                        laytpl($('#' + prop.type).html()).render(prop, function (html) {
                            $html = $(html);
                            $elem.replaceWith($html);
                            switch (prop.type) {
                                case "multiselected":
                                    var select = {}, s;
                                    select[prop.value.select.fdefault] = [prop.value.select.sdefault];
                                    layui.each(prop.value.selects, function (i) {
                                        s = prop.value.selects[i];
                                        select[s.value] = [];
                                        layui.each(s.seconds, function (j) {
                                            select[s.value].push(s.seconds[j]);
                                        });
                                    });
                                    $html.find('.fselect').data('seconds', select);
                                    form.on('select(fselect)', function (data) {
                                        var $elem = $(data.elem)
                                        var seconds = $elem.data('seconds');
                                        var template = '<option value="VALUE">VALUE</option>', html = '';
                                        layui.each(seconds[data.value], function () {
                                            html += template.replace('VALUE', this).replace('VALUE', this);
                                        });
                                        $(data.elem).parent().next().find('.sselect').html(html);
                                        form.render('select');
                                    });
                                    break;
                                case"markfield":
                                    $html.find('.score').on('click', function () {
                                        var score = $(this).index() + 1, fullScore = $(this.parentNode).children();
                                        layui.each(fullScore, function () {
                                            if ($(this).index() < score)
                                                $(this).css('color', '#FFAC21');
                                            else $(this).removeAttr('style');
                                        });
                                        $(this.parentNode).next('input').val(score);
                                    });
                                    break;
                                case"datepicker":
                                    laydate.render({
                                        elem: $html.find('input[name="' + name + '"]')[0]
                                    });
                                    break;
                                case"uploadfile":
                                    var uploadListIns = upload.render({
                                        elem: $html.find('.upbox')
                                        , url: '/formValue/uploadImg'
                                        , accept: prop.value.fileType
                                        , exts: prop.value.fileExts
                                        , fileCount: prop.value.fileCount
                                        , size: parseInt(prop.value.fileSize) * 1024
                                        , multiple: true
                                        , auto: true
                                        , before: function (obj) {
                                            var files = obj.pushFile(); //将每次选择的文件追加到文件队列
                                            //读取本地文件
                                            obj.preview(function (index, file, result) {
                                                var tr = $(['<tr id="upload-' + index + '">'
                                                    , '<td>' + file.name + '</td>'
                                                    , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                                                    , '<td>等待上传</td>'
                                                    , '<td>'
                                                    , '<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
                                                    , '<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                                                    , '</td>'
                                                    , '</tr>'].join(''));
                                                var $html = obj.elem.parents('.new-line')
                                                    , $uploadList = $html.find('.uploadList')
                                                    , $uploadElem = $html.find('.upbox')
                                                    , $upload = $html.find('.layui-upload')
                                                    , $input = $html.find('input[type="hidden"]');
                                                //单个重传
                                                tr.find('.demo-reload').on('click', function () {
                                                    obj.upload(index, file);
                                                });

                                                //删除
                                                tr.find('.demo-delete').on('click', function () {
                                                    delete files[index]; //删除对应的文件
                                                    tr.remove();
                                                    var imgPath = tr.attr('filePath');
                                                    imgPath && $.get('/formValue/delImg', {imgPath: imgPath});
                                                    if ($uploadList.find('tr').length == 0) {
                                                        $uploadElem.show();
                                                        $upload.hide();
                                                    }
                                                    layui.each($uploadList.find('tr'), function () {
                                                        files.push('"' + $(this).children().get(0).innerHTML + "\":\"" + $(this).attr('filePath')) + '"';
                                                    });
                                                    $input.val("{" + files.join(',') + "}");
                                                });
                                                $uploadList.append(tr);
                                                $uploadElem.hide();
                                                $upload.show();
                                            });
                                        }
                                        , done: function (res, index, upload, elem) {
                                            if (res.code == 0) { //上传成功
                                                var $html = elem.parents('.new-line')
                                                    , $uploadList = $html.find('.uploadList')
                                                    , $input = $html.find('input[type="hidden"]')
                                                    , tr = $uploadList.find('tr#upload-' + index)
                                                    , tds = tr.children();
                                                tr.attr('filePath', res.data.imgPath);
                                                tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                                                // tds.eq(3).html(''); //清空操作
                                                tds.eq(3).find('.demo-reload').hide();
                                                var files = [];
                                                layui.each($uploadList.find('tr'), function () {
                                                    files.push('"' + $(this).children().get(0).innerHTML + "\":\"" + $(this).attr('filePath') + '"');
                                                });
                                                $input.val("{" + files.join(',') + "}");
                                                return;
                                            }
                                            this.error(index, upload);
                                        }
                                        , error: function (index, upload) {
                                            var tr = $uploadList.find('tr#upload-' + index)
                                                , tds = tr.children();
                                            tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                                            tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                                        }
                                    });
                                    break;
                            }
                        });
                }
            );
            form.render();
        };
        $('.tips').bind('click', function () {
            var _this = this;
            var name = $(this).attr('name');
            var tip = layer.tips('<input id="content"  type="text" />',
                _this,
                {
                    time: 0,
                    closeBtn: 2,
                }
            );
            $('#content').val($('#' + name).text());
            $('#content').focus();
            $('#content').on('blur', function () {
                layer.close(tip);
            });
            $('#content').on('keydown', function (event) {
                if (event.keyCode == "13") {
                    var newValue = $(this).val();
                    $.post('/form/editForm', name + '=' + newValue + "&" + $('#editForm').serialize(), function (data) {
                        layer.close(tip);
                        if (data.code == 1) {
                            $('#' + name).text(newValue)
                        }
                        layer.msg(data.msg, {time: 3000});
                    }, 'json');
                }
            });

        });
        form.on('select(edit)', function (data) {
            $.post('/form/editForm', $('#editForm').serialize(), function (data) {
                layer.msg(data.msg, {time: 3000});
            });
        });
        form.on('switch(edit)', function (data) {
            $.post('/form/editForm', $('#editForm').serialize(), function (data) {
                layer.msg(data.msg, {time: 3000});
            })
        });
        del = function (type) {
            $.get('/form/delForm', {id: $('#id').val(), type: type}).done(function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg, {time: 3000});
                    window.location.href = type == 'delForm' ? '/form/desktop' : ('/form/myform/' + $('#id').val());
                }
            });
        }
        //展示已知数据
        var tableIns = table.render({
            elem: '#q-table-recent-submit',
            data: formData,
            //				height: 272,
            cols: cols,
            skin: 'row', //表格风格
            even: true,
            height: 290
        });

        function addData() {
            if (form.executeVerify($form))
                return false;
            var name, type, d = {}, names;
            var params = $form.serializeObject();
            layui.each(props, function (i, prop) {
                    name = prop.id, type = prop.type;
                    switch (type) {
                        case 'timepicker':
                            params[name] = params[name] && params[name].join(':');
                            break;
                        case 'singlemat':
                            params[name] = [];
                            layui.each(params, function (key) {
                                if (key != name && key.indexOf(name) != -1) {
                                    params[name].push(params[key]);
                                    delete params[key];
                                }
                            });
                            params[name] = params[name] && params[name].join(',');
                            break;
                        case 'mattext':
                            layui.each(params, function (key) {
                                names = key.split('\_');
                                if (names.length == 3) {
                                    !d[names[1]] && (d[names[1]] = {});
                                    d[names[1]][names[2]] = params[key];
                                    delete params[key];
                                }
                            });
                            var val = '';
                            layui.each(d, function (i) {
                                val += i.split("-")[0] + ":(";
                                layui.each(d[i], function (j) {
                                    val += j.split("-")[0] + ":" + d[i][j] + ',';
                                });
                                val = val.substring(0, val.length - 1) + "),";
                            });
                            params[name] = val.substring(0, val.length - 1);
                            break;
                        case 'multiselected':
                            params[name] = params[name] && params[name].join('-');
                            break;
                        case 'address':
                            params[name] = params[name] && params[name].join(' ');
                            break;
                        default:
                            if (params[name] && params[name].push)
                                params[name] = params[name].join(',');
                    }
                }
            );
            var id = params.id;
            delete params.id;
            $.post('/formValue/save', {value: JSON.stringify(params), id: id, form: formId}, function (data) {
                layer.msg(data.msg, {time: 3000});
                window.location.reload();
            });
            return true;
        }

        //添加数据
        $('#sjadd').on('click', function () {
            var $addData = $('#addData');
            rebuildForm();
            $addData.find('section').append($form);
            $form.show();
            layer.open({
                type: 1,
                title: '添加数据',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['800px', '520px'],
                content: $addData,
                btn: ['确定', '取消', '提交并再填一份'],
                btnAlign: 'l', //按钮排列 左对齐
                yes: function (index, layero) { //或者使用btn1
                    if (addData()) {
                        layer.close(index);
                        $form.hide();
                    }
                },
                cancel: function (index) { //或者使用btn2
                    layer.close(index);
                    $form.hide();
                },
                btn3: function (index, layero) {
                    if (addData('addData')) {
                        buildForm();
                    }
                }
            });
        });

        var showTpl = showCols.innerHTML, content;
        laytpl(showTpl).render(formProp, function (html) {
            $('#showCol').html(html);
            form.render();
        });
        $('#sjedit').on('click', function () {
            layer.open({
                type: 1,
                title: '编辑显示的内容（取消为不显示）',
                area: ['600px', '360px'],
                shadeClose: true, //点击遮罩关闭
                btn: ['确定', '取消'],
                btnAlign: 'l', //按钮排列 左对齐
                content: $('#showCol'),
                yes: function (index, layero) {
                    $('.prop').each(function (i, ele) {
                        formProp[i].show = ele.checked;
                    });
                    cols[0] = formProp;
                    tableIns.reload({
                        cols: cols
                    });
                    layer.close(index);
                },
                btn2: function (index, layero) {
                    //按钮【按钮二】的回调
                },
            });
        });
        table.on('col(formValue)', function (record) {
            $form.resetForm();
            var name, type, inputs;
            record = record.data;
            $form.find('input[name="id"]').val(record.id);
            layui.each(props, function (i, prop) {
                name = prop.id;
                type = prop.type;
                if (record[name])
                    switch (type) {
                        case 'singleselect':
                        case 'singlepic':
                            $form.find('input[name="' + name + '"][value="' + record[name] + '"]').attr('checked', true);
                            break;
                        case 'multiselect':
                        case 'multipic':
                        case 'singlemat':
                            layui.each(record[name].split(','), function () {
                                $form.find('input[name^="' + name + '"][value="' + this + '"]').attr('checked', true);
                            });
                            break;
                        case 'mattext':
                            inputs = $form.find('input[name^="' + name + '"]');
                            layui.each(record[name].match(/:(?!\()(.*?)[,|)]/g), function (i) {
                                inputs[i].value = this.substring(1, this.length - 1);
                            });
                            break;
                        case 'uploadfile':
                            var $tr, $uploadList = $form.find('.' + name).find('.uploadList')
                                , $uploadElem = $form.find('.' + name).find('.upbox')
                                , $upload = $form.find('.layui-upload')
                                , $input = $form.find('input[name="' + name + '"]')
                                , $list, files, file = JSON.parse(record[name]);
                            layui.each(file, function (key) {
                                $tr = $(['<tr id="' + key + '" filePath="' + file[key] + '">'
                                    , '<td>' + key + '</td>'
                                    , '<td></td>'
                                    , '<td><span style="color:limegreen">已保存</span></td>'
                                    , '<td>'
                                    , '<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                                    , '</td>'
                                    , '</tr>'].join(''));
                                $tr.on('click', '.demo-delete', function () {
                                    var $tr = $(this).parents('tr')
                                        , $uploadList = $tr.parent()
                                        , $html = $uploadList.parents('.new-line')
                                        , $input = $html.find('input[type="hidden"]')
                                        , $upload = $html.find('.layui-upload');
                                    $tr.remove();
                                    $.get('/formValue/delImg', {imgPath: file[key]});
                                    $list = $uploadList.find('tr'), files = {};
                                    if ($list.length == 0) {
                                        $uploadElem.show();
                                        $upload.hide();
                                    }
                                    layui.each($list, function () {
                                        files[$(this).attr('id')] = $(this).attr('filePath');
                                    });
                                    $input.val(JSON.stringify(files));
                                });
                                $uploadList.append($tr);
                            });
                            $input.val(record[name]);
                            $list = $uploadList.find('tr');
                            if ($list.length != 0) {
                                $uploadElem.hide();
                                $upload.show();
                                $uploadList.show();
                            }
                            break;
                        case 'address':
                            var addresses = record[name].split(" ");
                            inputs = $form.find(':input[name="' + name + '"]');
                            form.select($(inputs[0]), addresses[0]);
                            form.select($(inputs[1]), addresses[1]);
                            form.select($(inputs[2]), addresses[2]);
                            inputs[3].value = addresses[3];
                            break;
                        case 'timepicker':
                            var times = record[name].split(':');
                            inputs = $form.find(':input[name="' + name + '"]');
                            form.select($(inputs[0]), times[0]);
                            form.select($(inputs[1]), times[1]);
                            break;
                        case 'multiselected':
                            var selects = record[name].split('-');
                            inputs = $form.find(':input[name="' + name + '"]');
                            form.select($(inputs[0]), selects[0]);
                            form.select($(inputs[1]), selects[1]);
                            break;
                        case 'markfield':
                            inputs = $form.find('input[name="' + name + '"]');
                            inputs[0].value = record[name];
                            $(inputs[0]).prev().children().get(parseInt(record[name]) - 1).click();
                            break;
                        case 'dropselect':
                            form.select($form.find(':input[name="' + name + '"]'), record[name]);
                            break;
                        case 'location':
                            setLocation(prop.id, record[name]);
                        default:
                            $form.find('input[name="' + name + '"]')[0].value = record[name];
                    }
            });
            $('#editData .other').each(function (i, elem) {
                $(elem).text(record[$(elem).attr('name')])
            });
            var $editData = $('#editData');
            $editData.find('section').append($form);
            form.render();
            $form.show();
            layer.open({
                type: 1,
                title: '数据详情',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['800px', '520px'],
                content: $editData,
                btn: ['修改', '删除'],
                btnAlign: 'l', //按钮排列 左对齐
                yes: function (index, layero) { //或者使用btn1
                    if (addData('editData')) {
                        layer.close(index);
                        $form.hide();
                    }
                },
                btn2: function (index) { //或者使用btn2
                    $.get('/formValue/del', {ids: record.id}).done(function (data) {
                        layer.close(index);
                        $form.hide();
                        layer.msg(data.msg, {time: 3000});
                    });
                }
            });
        });
        (function () {
            $.getJSON('/js/address.json', function (address) {
                var province, city, block;
                var $province = $(".province");
                var getProvinceList = function () {
                    var list = [];
                    for (var i = 0, l = address.length; i < l; i++) {
                        if ('0' == address[i].parentId) {
                            list.push($.extend({}, address[i]));
                        }
                    }
                    return list;
                };
                /**
                 * 获取下一级地址目录
                 * @param nowDistrictAreaName 当前地区的名字
                 */
                var getNextDistrictList = function (nowDistrictAreaName) {
                    var list = [], id = '';
                    for (var i = 0, l = address.length; i < l; i++) {
                        if (address[i].areaName === nowDistrictAreaName) {
                            id = address[i].areaCode;
                        }
                    }
                    for (var i = 0, l = address.length; i < l; i++) {
                        if (id === address[i].parentId) {
                            list.push($.extend({}, address[i]));
                        }
                    }
                    return list;
                };
                /***
                 * 根据获取的下一级目录列表生成select
                 * @param addressList
                 * @param defaultText
                 * @returns {string}
                 */
                var createOptions = function (addressList, defaultText) {
                    var template = '<option value="q_MyValue">q_MyText</option>';
                    var html = '<option value="" >' + (defaultText || "--请选择--") + '</option>';
                    for (var i = 0, l = addressList.length; i < l; i++) {
                        html += template.replace("q_MyValue", addressList[i].areaName).replace("q_MyText", addressList[i].areaName);
                    }
                    return html;
                }
                var selectHandler = function (data, level) {
                    window.data = data;
                    var areaName = data.value;
                    var list = getNextDistrictList(areaName);
                    var html = "";
                    var $select = $(data.elem).parent().next();
                    if (!level || level == 0) {
                        html = createOptions(list, "市");
                        $select.next().find(".block").html("<option value=''>市区/县</option>");
                        $select = $select.find(".city");
                    } else {
                        html = createOptions(list, "市区/县");
                        $select = $select.find(".block");
                    }
                    $select.html(html);
                    form.render();
                };

                var init = function () {
                    var list = getProvinceList();
                    var html = createOptions(list, "省/自治区/直辖市");
                    $province.html(html);
                    form.render();
                };
                form.on('select(province)', function (data) {
                    province = data.value;
                    selectHandler(data, 0);
                });
                form.on('select(city)', function (data) {
                    city = data.value;
                    selectHandler(data, 1);
                });
                form.on('select(block)', function (data) {
                    block = data.value;
                });
                init();
            });
            var map, name, elem;
            $('.location').each(function () {
                name = $(this).attr('id');
                map = new BMap.Map(name);
                map.centerAndZoom(new BMap.Point(121.491, 31.233), 11);
                map.enableScrollWheelZoom(true); //缩放
                elem = $('#formContainer').find('input[name="' + name + '"]');
                maps[name] = {
                    map: map,
                    elem: elem,
                    container: elem.parents('.new-line')
                };
                setTimeout(function () {
                    map.enableDragging(); //两秒后开启拖拽
                }, 2000);
                map.addEventListener("click", function (e) {
                    var pt = e.point, name = $(this.Va).attr('id');
                    geoc.getLocation(pt, function (rs) {
                        var addComp = rs.addressComponents;
                        $('#formContainer').find('input[name="' + name + '"]').val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
                    });
                });
                myLoc(name);
            });
        }());
    })
    ;
</script>
</html>