<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DCW</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gaishu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shuju.css}"/>
    <style type="text/css">
        .clearfix:after {
            content: '';
            clear: both;
            display: block;
        }

        a {
            text-decoration: none;
        }

        .text-left {
            text-align: left;
        }

        .field-name {
            height: 35px;
            line-height: 35px;
            font-size: larger;
            overflow: auto;
        }

        .field-desc {
            height: 25px;
            line-height: 25px;
            font-weight: lighter;
            font-size: x-small;
            overflow: hidden;
        }

        header {
            background-color: #393D49;
        }

        .msg {
            width: 60px;
            height: 35px;
            border-radius: 3px;
            background-color: #333745;
            position: absolute;
            top: 23px;
            right: 5px;
            display: none;
        }

        .msg p {
            width: 100%;
            line-height: 35px;
            text-align: center;
            color: #fff;
            border-radius: 5px;
            position: relative;
            top: 0;
            left: 0;
        }

        .msg .up-trangle {
            display: block;
            width: 0;
            height: 0;
            border: 8px solid #333745;
            transform: rotateZ(45deg);
            position: absolute;
            top: -4px;
            right: 15px;
        }

        .container {
            box-sizing: border-box;
            width: 960px;
            padding: 0 7px;
            margin: auto;
        }

        nav .container {
            margin: 10px auto;
            margin-bottom: 0;
        }

        .formEditorView {
            height: 600px;
            overflow: auto;
            text-align: center;
        }

        form .banner {
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }

        form .layui-form-item {
            width: 85%;
            margin: auto;
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }

        form .layui-input {
            border-color: 1px solid #5FB878;
        }

        .add-field .fied-item div {
            padding-left: 20px;
            text-align: left;
            height: 35px;
            line-height: 35px;
            overflow: hidden;
            color: #000000;
            transition: all 0.2s;
        }

        .add-field .fied-item div:hover {
            cursor: pointer;
            color: #009AFF !important;
        }

        .form-container {
            width: 90%;
            padding-bottom: 50px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
        }

        form .layui-form-item {
            border: none !important;
        }

        .add-field .layui-this {
            background-color: #009AFF !important;
            color: #fff !important;
        }

        form .new-line:hover {
            cursor: pointer;
        }

        .formEditorView .active-line {
            background-color: #F2FAFF;
            border: 1px dashed #1E9FFF;
            border-left: none;
            border-right: none;
            border-radius: 5px;
        }

        form .new-line {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            position: relative;
            top: 0;
            left: 0;
        }

        .fn-area {
            position: absolute;
            bottom: -10px;
            right: 100px;
            background-color: #fff;
            display: none;
        }

        .fn-area .ele-copy,
        .fn-area .ele-del {
            width: 30px;
            height: 30px;
            border-radius: 2px;
        }

        .fn-area .ele-copy:hover,
        .fn-area .ele-del:hover {
            background-color: #D84C29;
            cursor: pointer;
        }

        .formEditorView .active-line .fn-area {
            display: block;
        }

        .active-line .layui-form-item input,
        .active-line .layui-form-item textarea,
        .active-line .layui-form-item select {
            border-color: #9F9F9F;
        }

        .setting-row .pull-left {
            line-height: 30px !important;
        }

        .setting-row input {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
<header>
    <div class="container">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a th:href="@{/form/desktop}">桌面</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/user/userInfo}"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">个人中心</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a th:href="@{/logout}">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</header>
<nav>
    <div class="layui-tab container">
        <ul class="layui-tab-title">
            <!--概述编辑规则设置发布数据报表-->
            <li class="layui-this">概述</li>
            <li><a th:href="@{'/form/edit/'+${formDetail.form.id}}">编辑</a></li>
            <li><a th:href="@{'/formValue/myFormData/'+${formDetail.form.id}}">数据</a></li>
        </ul>
        <div class="layui-tab-content">
            <!--概述内容-->
            <div class="layui-tab-item layui-show">
                <!--概述页面写在这里-->
                <!--3/12-->
                <div class="layui-row  gaishu">
                    <div class="layui-col-md3">
                        <div class="grid-demo grid-demo-bg1">
                            <a th:href="@{'/formValue/myFormData/'+${formDetail.form.id}}"><span class="number"
                                                                                                 th:text="${formDetail.formValueCount}">0</span>

                                <p>表单总数据</spam><i
                                        class="layui-icon">&#xe60b;</i></p></a>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="grid-demo">
                            <a th:href="@{'/formValue/myFormData/'+${formDetail.form.id}(today=today)}"> <span
                                    class="number"
                                    th:text="${formDetail.todaySubmitCount}">1</span>

                                <p>今日提交<i class="layui-icon">
                                    &#xe60b;</i></p></a>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="grid-demo grid-demo-bg1">
                            <span class="number" th:text="${formDetail.form.viewCount}">100</span>

                            <p>表单被浏览<i class="layui-icon">
                                &#xe60b;</i></p>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="grid-demo">
                            <span class="number" th:text="${formDetail.form.resultViewCount}">20</span>

                            <p>结果被浏览<i class="layui-icon">
                                &#xe60b;</i></p>
                        </div>
                    </div>
                </div>
                <!--6/12-->
                <div class="layui-row gtwo">
                    <form class="layui-form" id="editForm" th:action="@{/form/editForm}" method="post">
                        <input type="hidden" name="id" id="id" th:value="${formDetail.form.id}"/>

                        <div class="layui-col-xs6 setpad">
                            <div class="grid-demo grid-demo-bg1">
                                <!--4条数据-->
                                <div class="layui-row">
                                    <div class="layui-col-md4">表单创建时间</div>
                                    <div class="layui-col-md4 layui-col-md-offset4"
                                         th:text="${#dates.format(formDetail.form.createTime,'yyyy-MM-dd HH:mm:ss')}">
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">填写者权限</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <div class="select">
                                            <select name="submitPrivilege" lay-filter="edit">
                                                <option th:selected="${formDetail.form.submitPrivilege=='PEOPER_OF_ALL'}"
                                                        value="PEOPER_OF_ALL">所有人
                                                </option>
                                                <option th:selected="${formDetail.form.submitPrivilege=='PEOPER_OF_NONE'}"
                                                        value="PEOPER_OF_NONE">不公开
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row gcheck">
                                    <div class="layui-col-md4">表单开启/停止</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <input type="checkbox" name="collectFlag" lay-filter="edit"
                                                       th:checked="${formDetail.form.collectFlag}"
                                                       lay-skin="switch"
                                                       lay-text="开启|关闭">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">结果分享</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <div class="select">
                                            <select name="resultShow" lay-filter="edit">
                                                <option th:selected="${formDetail.form.submitPrivilege=='PEOPER_OF_ALL'}"
                                                        value="PEOPER_OF_ALL">公开
                                                </option>
                                                <option th:selected="${formDetail.form.submitPrivilege=='PEOPER_OF_NONE'}"
                                                        value="PEOPER_OF_NONE">私密
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--右侧-->
                    <form class="layui-form">
                        <div class="layui-col-xs6 setpad gtwo-right">
                            <div class="grid-demo ">
                                <div class="layui-row">
                                    <div class="layui-col-md4">表单标签</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <a href="javascript:void(0)" class="gma"><span id="labels"
                                                                                       th:text="${formDetail.form.labels}"></span><i
                                                name="labels"
                                                class="layui-icon tips">&#xe642;</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">表单提交次数限制</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <a href="javascript:void(0)" class="gma"><span id="submitCountLimited"
                                                                                       th:text="${formDetail.form.submitCountLimited}"
                                        ></span><i name="submitCountLimited"
                                                   class="layui-icon tips">&#xe642;</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">邮件推送提醒</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <a href="javascript:void(0)" class="gdashed">未开启</a>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md4">短信推送提醒</div>
                                    <div class="layui-col-md4 layui-col-md-offset4">
                                        <a href="javascript:void(0)" class="gdashed">未开启</a>
                                    </div>
                                </div>
                                <!--<div class="layui-row">-->
                                <!--<div class="layui-col-md4">团队协作</div>-->
                                <!--<div class="layui-col-md4 layui-col-md-offset4">-->
                                <!--<a href="javascript:void(0)" class="gma"><img src="http://t.cn/RCzsdCq"-->
                                <!--class="layui-nav-img"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </form>
                </div>
                <!--表格数据-->
                <div class="layui-row gthree">
                    <div class="layui-col-md10">
                        <div class="grid-demo grid-demo-bg1">
                            <span>最近提交表单数据</span>
                            <a th:href="@{'/formValue/myFormData/'+${formDetail.form.id}}"
                               style="color: #007DDB;">查看更多</a>
                        </div>
                    </div>
                    <div class="layui-col-md2 g-right">
                        <div class="grid-demo">
                            <a class="layui-btn layui-btn-primary layui-btn-mini" id="sjadd" href="javascript:void(0)">添加数据</a>
                            <a class="" href="javascript:">
                                <i class="layui-icon" id="sjedit">&#xe62a;</i>
                            </a>
                        </div>
                    </div>
                    <!--表格 有数据or 没有数据-->
                    <div class="row layui-form">
                        <table id="q-table-recent-submit" lay-filter="formValue"></table>
                    </div>
                    <!--复制 删除表单--><!----><!---->
                    <div class="foot-btn">
                        <button class="layui-btn layui-btn-warm layui-btn-small" onclick="del('delFormValue');">清空数据
                        </button>
                        <button class="layui-btn layui-btn-danger layui-btn-small" onclick="del('delForm');">删除表单
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<form class="lay-hide layui-form layui-form-item" id="editData">
    <input type="hidden" name="id"/>
    <!--<input type="submit" lay-submit lay-filter="editData" value="提交"/>-->
    <div class="layui-row">
        <div class="layui-col-xs8">
            <div class="grid-demo">
                <!--表单放这-->
                <section class="formEditorView">
                </section>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="grid-demo grid-demo-bg2 ">提交人：<span class="other" name="author"></span></div>
            <div class="grid-demo grid-demo-bg2 ">提交时间：<span class="other" name="createTime"></span></div>
            <div class="grid-demo grid-demo-bg2 ">修改人：<span class="other" name="lastModifyPerson"></span></div>
            <div class="grid-demo grid-demo-bg2 ">修改时间：<span class="other" name="lastModifyTime"></span></div>
            <div class="grid-demo grid-demo-bg2 ">浏览器：<span class="other" name="browser"></span></div>
            <div class="grid-demo grid-demo-bg2 ">操作系统：<span class="other" name="os"></span></div>
            <div class="grid-demo grid-demo-bg2 ">IP：<span class="other" name="submitIP"></span></div>
        </div>
    </div>
</form>
<form class="lay-hide layui-form layui-form-item" id="addData">
    <!--<input type="submit" lay-submit lay-filter="addData" value="提交" style="display: none;"/>-->
    <div class="layui-row">
        <div class="grid-demo">
            <!--表单放这-->
            <section class="formEditorView">
            </section>
        </div>
    </div>
</form>
<div class="lay-hide form-container" id="formContainer">
</div>
<div class="lay-hide layui-form layui-form-item" id="showCol">
</div>
<script id="showCols" type="text/html">
    <div class="layui-form-item" pane="">
        <ul class="layui-input-block showtips">
            {{#layui.each(d,function(i,prop){}}
            <li><input type="checkbox" class="prop" lay-skin="primary" title="{{prop.title}}"
                       checked="{{!prop.show}}">
            </li>
            {{#});}}
        </ul>
    </div>
</script>
<script type="text/html" id="singletext">
    <div class="new-line" editor="{{d.type}}">
        <!--单行文字-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md6">
                <input type="text" name="{{d.name}}" readonly="{{d.default?'readonly':''}}"
                       lay-verify="{{(d.value.verify.required?'required':'')+(d.value.verify.min.checked?'|minlen':'')+(d.value.verify.max.checked?'|maxlen':'')}}"
                       minlen="{{d.value.verify.min.checked?d.value.verify.min.val:''}}"
                       maxlen="{{d.value.verify.max.checked?d.value.verify.max.val:''}}"
                       tips="{{d.value.verify.msg.checked?d.value.verify.msg.val:''}}"
                       value="{{d.value.value}}"
                       class="layui-input">
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="multitext">
    <div class="new-line" editor="{{d.type}}">
        <!--多行文字-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12">
                <textarea class="layui-textarea" readonly="{{d.default?'readonly':''}}" name="{{d.name}}"
                          lay-verify="{{(d.value.verify.required?'required':'')+(d.value.verify.min.checked?'|minlen':'')+(d.value.verify.max.checked?'|maxlen':'')}}"
                          minlen="{{d.value.verify.min.val}}"
                          maxlen="{{d.value.verify.max.val}}"
                          tips="{{d.value.verify.msg.checked?d.value.verify.msg.val:''}}"
                >{{d.value.value}}</textarea>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="singleselect">
    <div class="new-line" editor="{{d.type}}">
        <!--单项选择-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12 text-left">

                {{#layui.each(d.value.radios,function(i){}}
                {{#var item = d.value.radios[i]}}
                <input type="radio" {{d.default?'disabled':''}} name="{{d.name}}" value="{{item}}"
                title="{{item}}"
                {{item.checked?'checked':''}}>
                <br/>
                {{#});}}
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="multiselect">
    <div class="new-line" editor="{{d.type}}">
        <!--多项选择-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
                {{#if(d.value.verify.min.checked&&d.value.verify.max.checked){}}
                [请选择{{d.value.verify.min.val}}-{{d.value.verify.max.val}}个选项]
                {{#}else{}}
                {{d.value.verify.min.checked?'[至少选择'+d.value.verify.min.value+'个选项]':''}}
                {{d.value.verify.max.checked?'[至多选择'+d.value.verify.max.value+'个选项]':''}}
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12 text-left">
                {{#layui.each(d.value.checkboxs,function(i){}}
                {{#var item = d.value.checkboxs[i]}}
                <input type="checkbox" {{d.default?'disabled':''}} name="{{d.name}}"
                value="{{item.value}}"
                title="{{item.value}}"
                {{item.checked?'checked':''}}>
                <br/>
                {{#});}}
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="singlepic">
    <div class="new-line" editor="{{d.type}}">
        <!--图片单选-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <!--有图片就把上面一段隐藏-->
            <div class="layui-row layui-col-md12 text-left">
                {{#var len=0;}}
                {{#for(var k in d.value.images) len++;}}
                {{#if(len==0){}}
                <div class="layui-row layui-col-md12 text-left field-desc">
                    <p>请在右侧面板添加图片</p>
                </div>
                {{#}else{}}
                {{#layui.each(d.value.images,function(i){}}
                <div class="layui-col-md3 redioimg">
                    <label class="radio" style="display: block;">
                        <div class="image-center"><img
                                src="{{d.value.images[i].imgPath}}">
                        </div>
                        <div class="text-wrapper">
                            <div class="radio-button-wrapper">
                                <input type="radio" {{d.default?'disabled':''}} name="{{d.name}}"
                                {{d.value.checked==d.value.images[i].imgName?'checked':''}}
                                value="{{d.value.images[i].imgName}}"
                                title="{{d.value.images[i].imgName}}">
                            </div>
                        </div>
                    </label>
                </div>
                {{#});}}
                {{#}}}
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div></script>
<script type="text/html" id="multipic">
    <div class="new-line" editor="{{d.type}}">
        <!--图片多选-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
                {{#if(d.value.verify.min.checked&&d.value.verify.max.checked){}}
                [请选择{{d.value.verify.min.val}}-{{d.value.verify.max.val}}个选项]
                {{#}else{}}
                {{d.value.verify.min.checked?'[至少选择'+d.value.verify.min.value+'个选项]':''}}
                {{d.value.verify.max.checked?'[至多选择'+d.value.verify.max.value+'个选项]':''}}
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>

            <div class="layui-row layui-col-md12 text-left">
                {{#var len=0;}}
                {{#for(var k in d.value.images) len++;}}
                {{#if(len==0){}}
                <div class="layui-row layui-col-md12 text-left field-desc">
                    <p>请在右侧面板添加图片</p>
                </div>
                {{#}else{}}
                {{#layui.each(d.value.images,function(i){}}
                <div class="layui-col-md3 redioimg">
                    <label class="checkbox" style="display: block;">
                        <div class="image-center"><img
                                src="{{d.value.images[i].imgPath}}">
                        </div>
                        <div class="text-wrapper">
                            <div class="checkbox-button-wrapper">
                                <input type="checkbox" {{d.default?'disabled':''}} name="{{d.name}}"
                                {{d.value.images[i].checked?'checked':''}}
                                value="{{d.value.images[i].imgName}}"
                                title="{{d.value.images[i].imgName}}">
                            </div>
                        </div>
                    </label>
                </div>
                {{#});}}
                {{#}}}
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="singlemat">
    <div class="new-line" editor="{{d.type}}">
        <!--矩阵单选-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>

            <div class="gtable">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th></th>
                        {{#layui.each(d.value.selects,function(i){}}
                        <th>{{d.value.selects[i]}}</th>
                        {{#});}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#layui.each(d.value.titles,function(i){}}
                    {{#var title = d.value.titles[i]}}
                    <tr>
                        <td>{{title.value}}</td>
                        {{#layui.each(title.selects,function(j){}}
                        {{#var select=title.selects[j]}}
                        <td class="layui-input-block">
                            <input type="radio" {{d.default?'disabled':''}}
                            {{d.value.checked==select?'checked':''}}
                            name="{{d.name+'_'+i}}"
                            value="{{title.value+':'+select}}"
                            />
                        </td>
                        {{#});}}
                    </tr>
                    {{#});}}
                    </tbody>

                </table>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div></script>
<script type="text/html" id="mattext">
    <div class="new-line" editor="{{d.type}}">
        <!--矩阵填空-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="gtable">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th></th>
                        {{#layui.each(d.value.selects,function(i){}}
                        <th>{{d.value.selects[i]}}</th>
                        {{#});}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#layui.each(d.value.titles,function(i,title){}}
                    <tr>
                        <td>{{d.value.titles[i].value}}</td>
                        {{#layui.each(d.value.titles[i].selects,function(j){}}
                        <td>
                            <input type="text" class="layui-input" readonly="{{d.default?'readonly':''}}"
                                   lay-verify="{{d.value.verify.required?'required':''+d.value.verify.number.checked?'|number':''}}"
                                   tips="{{d.value.verify.msg.checked?d.value.verify.msg.val:''}}"
                                   name="{{d.name+'_'+d.value.titles[i].value+'_'+d.value.titles[i].selects[j]+'_'+i+'_'+j}}"
                            />
                        </td>
                        {{#});}}
                    </tr>
                    {{#});}}
                    </tbody>
                </table>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div></script>
<script type="text/html" id="numberfield">
    <div class="new-line" editor="{{d.type}}">
        <!--123数字-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-inline layui-col-md12">
                <div class="layui-input-inline">
                    <input type="text" name="{{d.name}}" readonly="{{d.default?'readonly':''}}"
                           lay-verify="{{'number'+d.value.verify.required?'|required':''}}"
                           tips="{{d.value.verify.msg.checked?d.value.verify.msg.val:''}}"
                           value="{{d.value.value}}"
                           class="layui-input">
                </div>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="timepicker">
    <div class="new-line" editor="{{d.type}}">
        <!--时间-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                <select name="{{d.name}}" {{d.default?'disabled':''}}
                lay-verify="{{d.value.verify.required?'required':''}}"
                tips="{{d.value.verify.msg.checked?d.value.verify.msg.val:''}}">
                <option value="">时</option>
                {{#for(var i=0;i<24;i++){}}
                {{#if(i<10) i='0'+i;}}
                <option value="{{i}}" {{d.value.hour==i?'selected':''}}>{{i}}</option>
                {{#}}}
                </select>
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                <select name="{{d.name}}" {{d.default?'disabled':''}}
                lay-verify="{{d.value.verify.required?'required':''}}"
                tips="{{d.value.verify.msg.checked?d.value.verify.msg.val:''}}">
                <option value="">分</option>
                {{#for(var i=0;i<60;i++){}}
                {{#if(i<10) i='0'+i;}}
                <option value="{{i}}" {{d.value.minute==i?'selected':''}}>{{i}}</option>
                {{#}}}
                </select>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="datepicker">
    <div class="new-line" editor="{{d.type}}">
        <!--日期-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
                {{#if(d.value.verify.start.checked&&d.value.verify.end.checked){}}
                （请选择[{{d.value.verify.start.value}}-{{d.value.verify.end.value}}]之间的日期）
                {{#}else{}}
                {{d.value.verify.start.checked?'(请选择'+d.value.verify.start.value+'之后的日期)':''}}
                {{d.value.verify.end.checked?'(请选择'+d.value.verify.end.value+'之前的日期)':''}}
                {{#}}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="text" readonly="{{d.default?'readonly':''}}" name="{{d.name}}"
                       lay-verify="{{(d.value.verify.required?'required':'')+(d.value.verify.start.checked?'|start':'')+(d.value.verify.end.checked?'|end':'')}}"
                       start="{{d.value.verify.start.checked?d.value.verify.start.value:''}}"
                       end="{{d.value.verify.end.checked?d.value.verify.end.value:''}}"
                       tips="{{d.value.verify.msg.checked?d.value.verify.msg.value:''}}"
                       value="{{d.value.default.value}}"
                       class="layui-input" placeholder="yyyy-mm-dd">
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="dropselect">
    <div class="new-line" editor="{{d.type}}">
        <!--下拉框-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                <select name="{{d.name}}" {{d.default?'disabled':''}} lay-verify="{{d.value.verify}}">
                <option value="">{{d.value.defaultslt}}</option>
                {{#layui.each(d.value.selects,function(i){}}
                <option value="{{d.value.selects[i]}}"
                        {{d.value.checked==d.value.selects[i]?'disabled':''}}>
                    {{d.value.selects[i]}}
                </option>
                {{#});}}
                </select>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="desfield">
    <div class="new-line" editor="{{d.type}}">
        <!--描述-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="urlfield">
    <div class="new-line" editor="{{d.type}}">
        <!--网址-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12">
                <label class="layui-form-label labelwidth">
                    <i class="layui-icon">&#xe64c;</i>
                </label>

                <div class="layui-input-block">
                    <input type="text" name="{{d.name}}" readonly="{{d.default?'readonly':''}}"
                           lay-verify="{{d.value.verify}}" value="{{d.value.value}}"
                           class="layui-input">
                </div>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="markfield">
    <div class="new-line" editor="{{d.type}}">
        <!--评分-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                <div class="spingfen">
                    {{#for(var i=0;i
                    <d.value.fullscore
                            ;i++){}}
                    <i class="layui-icon">&#xe658;</i>
                    {{#}}}
                </div>

            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="multiselected">
    <div class="new-line" editor="{{d.type}}">
        <!--两级下拉框-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                <select name="{{d.name}}" lay-filter="fselect" {{d.default?'disabled':''}} lay-verify="d.value.verify">
                <option value="">{{d.value.select.fdefault}}</option>
                {{#layui.each(d.value.selects,function(i){}}
                {{#var select = d.value.selects[i]}}
                <option value="{{select.value}}">{{select.value}}</option>
                {{#});}}
                </select>
            </div>
            <div class="layui-inline layui-row layui-col-md4">
                <select name="{{d.name}}" class="sselect" {{d.default?'disabled':''}} lay-verify="d.value.verify">
                <option value="">{{d.value.select.sdefault}}</option>
                </select>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
<script type="text/html" id="uploadfile">
    <div class="new-line" editor="{{d.type}}">
        <!--上传文件-->
        <div class="layui-form-item">
            <div class="layui-row layui-col-md12 text-left field-name">
                {{d.name}}
                {{d.value.verify.required?"*":""}}
            </div>
            <div class="layui-row layui-col-md12 text-left field-des">
                {{d.des}}
            </div>
            <div class="layui-row layui-col-md12 layui-inline upbox">
                <i class="layui-icon">&#xe681;</i>
                <p>
                    请选择或拖拽上传文件{{d.value.fileCount!='1'?'（最多'+d.value.fileCount+'个）':''}}，限制在每个{{d.value.fileSize}}M以内。 </p>
            </div>
        </div>
        {{#if(d.default){}}
        <div class="fn-area">
            <i class="layui-icon ele-copy">&#xe60a;</i>
            <i class="layui-icon ele-del">&#xe640;</i>
        </div>
        {{#}}}
    </div>
</script>
</body>
<script th:src="@{/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/Util.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript" charset="utf-8"></script>

<script th:inline="javascript">
    var data = [[${formDetail.formValues}]], formData = [];
    var props = [[${formDetail.formProperties}]], formProp = [], cols = [];
    var value, tempform;
    for (var i = 0; i < data.length; i++) {
        value = JSON.parse(data[i].value);
        delete data[i].value;
        tempform = $.extend({}, value, data[i]);
        tempform.createTime = new Date(tempform.createTime).Format('yyyy-MM-dd HH:mm:ss');
        tempform.lastModifyTime = new Date(tempform.lastModifyTime).Format('yyyy-MM-dd HH:mm:ss');
        formData.push(tempform);
    }
    var prop;
    for (var i = 0; i < props.length; i++) {
        prop = {};
        prop.field = props[i].name;
        prop.title = props[i].name;
        prop.sort = true;
        prop.width = 'auto';
        formProp.push(prop);
    }
    formProp.push({field: 'author', title: '创建人', width: 'auto'});
    formProp.push({field: 'createTime', title: '创建时间', width: 'auto', sort: true});
    formProp.push({field: 'lastModifyTime', title: '最后修改时间', width: 'auto', sort: true});
    formProp.push({field: 'lastModifyPerson', title: '最后修改人', width: 'auto'});
    formProp.push({field: 'browser', title: '浏览器', width: 'auto'});
    formProp.push({field: 'os', title: '操作系统', width: 'auto'});
    formProp.push({field: 'submitIP', title: 'IP', width: 'auto'});

    cols.push(formProp);
</script>

<script type="text/javascript">
    var del;
    layui.use(['table', 'layer', 'element', 'form'], function () {
        var table = layui.table;
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        var laytpl = layui.laytpl;

        props && layui.each(props, function () {
            this.value = JSON.parse(this.value);
            laytpl($('#' + this.type).html()).render(this, function (html) {
                $('#formContainer').append(html);
            });
        });


        $('.tips').bind('click', function () {
            var _this = this;
            var name = $(this).attr('name');
            var tip = layer.tips('<input id="content"  type="text" />',
                _this,
                {
                    time: 0,
                    closeBtn: 2,
                }
            );
            $('#content').val($('#' + name).text());
            $('#content').focus();
            $('#content').on('blur', function () {
                layer.close(tip);
            });
            $('#content').on('keydown', function (event) {
                if (event.keyCode == "13") {
                    var newValue = $(this).val();
                    $.post('/form/editForm', name + '=' + newValue + "&" + $('#editForm').serialize(), function (data) {
                        layer.close(tip);
                        if (data.code == 1) {
                            $('#' + name).text(newValue)
                        }
                        layer.msg(data.msg, {time: 3000});
                    }, 'json');
                }
            });

        });
        form.on('select(edit)', function (data) {
            $.post('/form/editForm', $('#editForm').serialize(), function (data) {
                layer.msg(data.msg, {time: 3000});
            })

        });
        form.on('switch(edit)', function (data) {
            $.post('/form/editForm', $('#editForm').serialize(), function (data) {
                layer.msg(data.msg, {time: 3000});
            })
        });
        del = function (type) {
            $.get('/form/delForm', {id: $('#id').val(), type: type}).done(function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg, {time: 3000});
                    window.location.href = type == 'delForm' ? '/form/desktop' : ('/form/myform/' + $('#id').val());
                }
            });
        }
        //展示已知数据
        var tableIns = table.render({
            elem: '#q-table-recent-submit',
            data: formData,
            //				height: 272,
            cols: cols,
            skin: 'row', //表格风格
            even: true,
            height: 290
        });

        function addData(elemId) {
            if (form.executeVerify($('#' + elemId)))
                return false;
            var params = $('#' + elemId).serializeArray();
            var value = {};
            for (var x in params) {
                value[params[x].name] = params[x].value;
            }
            var keys;
            for (var key in value) {
                keys = key.split("_");
                if (keys.length > 1) {
                    !value[keys[0]] && (value[keys[0]] = "");
                    value[keys[0]] += (value[key] + (keys[0] == '如 有 以 下 资 产，请 勾 选' ? "，" : " "));
                    delete value[key];
                }
            }
            var id = value.id;
            delete value.id;
            $.post('/formValue/save', {value: JSON.stringify(value), id: id, form: formId}, function (data) {
                layer.msg(data.msg, {time: 3000});
                window.location.reload();
            });
            return true;
        }

        //添加数据
        $('#sjadd').on('click', function () {
            layer.open({
                type: 1,
                title: '添加数据',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['800px', '520px'],
                content: $('#addData'),
                btn: ['确定', '取消', '提交并再填一份'],
                btnAlign: 'l', //按钮排列 左对齐
                yes: function (index, layero) { //或者使用btn1
                    if (addData('addData')) {
                        layer.close(index);
                        resetForm('addData');
                    }
                },
                cancel: function (index) { //或者使用btn2
                    layer.close(index);
                },
                btn3: function (index, layero) {
                    if (addData('addData')) {
                        resetForm('addData');
                    }
                }
            });
        });

        var showTpl = showCols.innerHTML, content;
        laytpl(showTpl).render(formProp, function (html) {
            $('#showCol').html(html);
            form.render();
        });
        $('#sjedit').on('click', function () {
            layer.open({
                type: 1,
                title: '编辑显示的内容（取消为不显示）',
                area: ['600px', '360px'],
                shadeClose: true, //点击遮罩关闭
                btn: ['确定', '取消'],
                btnAlign: 'l', //按钮排列 左对齐
                content: $('#showCol'),
                yes: function (index, layero) {
                    $('.prop').each(function (i, ele) {
                        formProp[i].show = ele.checked;
                    });
                    cols[0] = formProp;
                    tableIns.reload({
                        cols: cols
                    });
                    layer.close(index);
                },
                btn2: function (index, layero) {
                    //按钮【按钮二】的回调
                },
            });
        });

        function resetForm(form) {
            $('#' + form)[0].reset();
            $('#' + form + ' :checked').removeAttr("checked");
            $('#' + form + ' :selected').removeAttr('selected');
        }

        table.on('col(formValue)', function (data) {
            resetForm('editData');
            var $elem;
            for (var key in data) {
                switch (key) {
                    case '如 有 以 下 资 产，请 勾 选':
                        var zc = data[key].toString().split("，");
                        for (var i = 0; i < zc.length; i++) {
                            $('#editData :input[name="' + key + '_' + zc[i] + '"]').attr('checked', true);
                        }
                        break;
                    case '单 位 地 址':
                    case '现 住 地 址':
                        var address = data[key].toString().trim().split(" ");
                        var i = 0;
                        for (; i < address.length - 1; i++) {
                            form.select($('#editData :input[name="' + key + '_' + i + '"]'), address[i]);
                        }
                        $('#editData :input[name="' + key + '_' + i + '"]').val(address[i])
                        break;
                    case '性 别':
                    case '手 机 运 营 商':
                        $('#editData :input[name="' + key + '"] option[value="' + data[key] + '"]').attr('selected', 'selected');
                        break;
                    case '地 理 位 置':
                        setLocation('map1', data[key]);
                        $('#editData :input[name="' + key + '"]').val(data[key]);
                        break;
                    default:
                        $('#editData :input[name="' + key + '"]').val(data[key]);
                }
            }
            $('#editData .other').each(function (i, elem) {
                $(elem).text(data[$(elem).attr('name')])
            });
            form.render();
            layer.open({
                type: 1,
                title: '数据详情',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['800px', '520px'],
                content: $('#editData'),
                btn: ['修改', '删除'],
                btnAlign: 'l', //按钮排列 左对齐
                yes: function (index, layero) { //或者使用btn1
                    if (addData('editData')) {
                        layer.close(index);
                    }
                },
                btn2: function (index) { //或者使用btn2
                    $.get('/formValue/del', {ids: data.id}).done(function (data) {
                        layer.close(index);
                        layer.msg(data.msg, {time: 3000});
                    });
                }
            });
        });
        ;
        (function () {
            $.getJSON('/js/address.json', function (address) {
                var province, city, block;
                var $province = $(".province");
                var getProvinceList = function () {
                    var list = [];
                    for (var i = 0, l = address.length; i < l; i++) {
                        if ('0' == address[i].parentId) {
                            list.push($.extend({}, address[i]));
                        }
                    }
                    return list;
                };
                /**
                 * 获取下一级地址目录
                 * @param nowDistrictAreaName 当前地区的名字
                 */
                var getNextDistrictList = function (nowDistrictAreaName) {
                    var list = [], id = '';
                    for (var i = 0, l = address.length; i < l; i++) {
                        if (address[i].areaName === nowDistrictAreaName) {
                            id = address[i].areaCode;
                        }
                    }
                    for (var i = 0, l = address.length; i < l; i++) {
                        if (id === address[i].parentId) {
                            list.push($.extend({}, address[i]));
                        }
                    }
                    return list;
                };
                /***
                 * 根据获取的下一级目录列表生成select
                 * @param addressList
                 * @param defaultText
                 * @returns {string}
                 */
                var createOptions = function (addressList, defaultText) {
                    var template = '<option value="q_MyValue">q_MyText</option>';
                    var html = '<option value="" >' + (defaultText || "--请选择--") + '</option>';
                    for (var i = 0, l = addressList.length; i < l; i++) {
                        html += template.replace("q_MyValue", addressList[i].areaName).replace("q_MyText", addressList[i].areaName);
                    }
                    return html;
                }
                var selectHandler = function (data, level) {
                    window.data = data;
                    var areaName = data.value;
                    var list = getNextDistrictList(areaName);
                    var html = "";
                    var $select = $(data.elem).parent().next();
                    if (!level || level == 0) {
                        html = createOptions(list, "市");
                        $select.next().find(".block").html("<option value=''>市区/县</option>");
                        $select = $select.find(".city");
                    } else {
                        html = createOptions(list, "市区/县");
                        $select = $select.find(".block");
                    }
                    $select.html(html);
                    form.render();
                };

                var init = function () {
                    var list = getProvinceList();
                    var html = createOptions(list, "省/自治区/直辖市");
                    $province.html(html);
                    form.render();
                };
                form.on('select(province)', function (data) {
                    province = data.value;
                    selectHandler(data, 0);
                });
                form.on('select(city)', function (data) {
                    city = data.value;
                    selectHandler(data, 1);
                });
                form.on('select(block)', function (data) {
                    block = data.value;
                });
                init();
            });

        }());
    });
</script>
</html>