<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="icon" href="" type="img/x-ico"><!-- >href可以放title左边的图标<-->
    <link href="../../static/css/main.css" type="text/css" rel="stylesheet">
    <script type="application/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="nav">
        <div id="login-box">
            <div class="resetPsw">
                <div class="title">找回密码</div>
                <div class="content">
                    <div class="login-text item">
                        <label class="name">输入手机号/邮箱</label>
                        <input class="value phone-email" type="text">
                    </div>
                    <div class="login-text item">
                        <label class="name">输入密码</label>
                        <input class="value password" type="password">
                    </div>
                    <div class="login-text item">
                        <label class="name">输入新密码</label>
                        <input class="value new-password" type="password">
                    </div>
                    <div class="login-text item">
                        <label class="name">再次输入新密码</label>
                        <input class="value re-password" type="password">
                    </div>
                    <div class="err item">

                    </div>
                    <div class="btn resetPsw-btn">修改密码</div>
                </div>
            </div>
        </div>
        <div id="no-id"><a href="../login.html">已有账号，去登录</a></div>
    </div>
    <script type="application/javascript" src="../../static/js/login.js"></script>
</body>
</html>