@charset "utf-8";
.gaishu p{
	text-align: center;
}
.gaishu .layui-col-md3{
	border: 1px solid #EEEEEE;
	height: 100px;
	width: 24%;
	margin-right: 1%;
}
.gaishu .number{
	font-size: 28px;
	display:block;
	text-align: center;
	margin-bottom:2px;
	padding:15px 0 10px 0;
}
/*6/12*/
.gtwo{
	margin-top: 20px;
}
.gtwo .layui-col-xs6{
	width: 49%;
	border: 1px solid #EEEEEE;
}
.gtwo .layui-col-xs6:first-child{
	margin-right: 1%;
}
.gcheck .layui-form-label{
	width: 110px;
	padding-top: 0px;
}
.gcheck .layui-form-switch{
	margin-top:0px;
	height: 20px;
	line-height: 20px;
}
.gcheck .layui-col-md-offset4{
	width: 240px;
	height: 20px;
	margin-left: 9%;
}
.gcheck .layui-form-item{
	margin-bottom: 0;
	margin-right: 0;
}
.gselect{
	margin-right: 12px;
}
.gtwo .setpad{
	padding:5px 15px;
}
.gtwo .layui-row{
	height: 20px;
	padding: 5px 0;
}
.gtwo .layui-input{
	height: 20px;
}
.gtwo-right a{
	margin-left: 60%;
}
.gtwo-right .gma{
	margin-left: 80%;
}
/*文字下面虚线*/
.gdashed{
	border-bottom:1px dashed #222222;
}
.gthree{
	margin-top: 20px;
}
.gthree .g-right{
	padding-left: 60px;
}
/*表格部分*/
.gthree .layui-form{
	width: 100%;
	overflow-y: auto;
}
.gthree .layui-table{
	width: 200%!important;
	
}
.foot-btn{
	margin-top: 20px;
}
